[Unit]
Description=Run Hyprshade Auto Check Every 60 Minutes

[Timer]
OnBootSec=30
OnUnitActiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
