[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=klavye_degistirme
Comment=
Exec=setxkbmap -layout tr,us -option grp:alt_shift_toggle
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

